<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.AccountMapper">

    <resultMap id="accountResultMap" type="Account">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="icon" column="icon"/>
        <result property="balance" column="initial_balance"/>
        <result property="currency" column="currency"/>
        <result property="initialDate" column="initial_date"/>
    </resultMap>

    <resultMap id="accountWithUserResultMap" type="Account">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="icon" column="icon"/>
        <result property="balance" column="initial_balance"/>
        <result property="initialDate" column="initial_date"/>
        <result property="currency" column="currency"/>
        <result property="user.id" column="user_id"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO account (icon, balance, initial_date, name, currency, user_id)
        VALUES (#{icon}, #{balance}, #{initialDate}, #{name}, #{currency}, #{user.id})
    </insert>

    <select id="select" resultMap="accountWithUserResultMap">
        SELECT *
        FROM account
        WHERE id = #{id}
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE account
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="balance != null">initial_balance = #{balance},</if>
            <if test="initialDate != null">initial_date = #{initialDate},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="user != null and user.id != null">user_id = #{user.id}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM account
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="accountWithUserResultMap">
        SELECT *
        FROM account
    </select>

    <select id="selectWithUser" resultMap="accountWithUserResultMap">
        SELECT *
        FROM account
        LEFT JOIN user ON account.user_id = user.id
        WHERE account.id = #{id}
    </select>

    <select id="selectAllByUserId" resultMap="accountWithUserResultMap">
        SELECT *
        FROM account
        WHERE user_id = #{userId}
    </select>
</mapper>
