<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.CategoryMapper">

    <resultMap id="categoryResultMap" type="Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="icon" column="icon"/>
        <association property="user" column="user_id" foreignColumn="id" columnPrefix="user_"
                     resultMap="com.perfect.team.business.mapper.UserMapper.userResultMap"/>
        <association property="categoryType" column="category_type_id" foreignColumn="id" columnPrefix="category_type_"
                     resultMap="com.perfect.team.business.mapper.CategoryTypeMapper.categoryTypeResultMap"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (category_type_id, icon, name, user_id)
        VALUES (#{categoryType.id}, #{icon}, #{name}, #{user.id})
    </insert>

    <select id="select" resultMap="categoryResultMap">
        SELECT
            c.id,
            c.name,
            c.icon,
            c.user_id,
            c.category_type_id,
            u.id,
            u.name          AS user_name,
            u.email         AS user_email,
            ct.id,
            ct.name         AS category_type_name,
            ct.balance_type AS category_type_balance_type
        FROM category c
            LEFT JOIN user u ON c.user_id = u.id
            LEFT JOIN category_type ct ON c.category_type_id = ct.id
        WHERE c.id = #{id}
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE category
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="icon != null">icon = #{icon}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM category
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="categoryResultMap">
        SELECT
            c.id,
            c.name,
            c.icon,
            c.user_id,
            c.category_type_id,
            u.id,
            u.name          AS user_name,
            u.email         AS user_email,
            ct.id,
            ct.name         AS category_type_name,
            ct.balance_type AS category_type_balance_type
        FROM category c
            LEFT JOIN user u ON c.user_id = u.id
            LEFT JOIN category_type ct ON c.category_type_id = ct.id
    </select>

    <select id="selectWithUser" resultMap="categoryResultMap">
        SELECT *
        FROM category c
            LEFT JOIN user u ON c.user_id = u.id
            LEFT JOIN category_type ct ON c.category_type_id = ct.id
        WHERE c.id = #{id}
    </select>

    <select id="selectAllByUserId" resultMap="categoryResultMap">
        SELECT
            c.id,
            c.name,
            c.icon,
            c.user_id,
            c.category_type_id,
            u.id,
            u.name          AS user_name,
            u.email         AS user_email,
            ct.id,
            ct.name         AS category_type_name,
            ct.balance_type AS category_type_balance_type
        FROM category c
            LEFT JOIN user u ON c.user_id = u.id
            LEFT JOIN category_type ct ON c.category_type_id = ct.id
        WHERE c.user_id = #{userId}
    </select>
</mapper>
