<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.CategoryMapper">

    <resultMap id="categoryResultMap" type="Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="icon" column="icon"/>
        <result property="categoryType" column="category_type"/>
    </resultMap>

    <resultMap id="categoryWithUserResultMap" type="Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="icon" column="icon"/>
        <result property="categoryType" column="category_type"/>
        <result property="user.id" column="user_id"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (category_type, icon, name, user_id)
        VALUES (#{categoryType}, #{icon}, #{name}, #{user.id})
    </insert>

    <select id="select" resultMap="categoryWithUserResultMap">
        SELECT *
        FROM category
        WHERE id = #{id}
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE category
        <set>
            <if test="bean.name != null">name = #{bean.name},</if>
            <if test="bean.icon != null">icon = #{bean.icon},</if>
            <if test="bean.categoryType != null">category_type = #{bean.categoryType},</if>
            <if test="bean.user != null and bean.user.id != null">user_id = #{bean.user.id}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM category
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="categoryWithUserResultMap">
        SELECT *
        FROM category
    </select>

    <select id="selectWithUser" resultMap="categoryWithUserResultMap">
        SELECT *
        FROM category
            LEFT JOIN user ON category.user_id = user.id
        WHERE account.id = #{id}
    </select>

    <select id="selectAllByUserId" resultMap="categoryWithUserResultMap">
        SELECT *
        FROM category
        WHERE user_id = #{userId}
    </select>
</mapper>
