<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.TransferMapper">

    <resultMap id="transferResultMap" type="Transfer">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="note" column="note"/>
        <result property="date" column="date"/>
        <association property="fromAccount" column="from_account_id" foreignColumn="id" columnPrefix="from_account_"
                     resultMap="com.perfect.team.business.mapper.AccountMapper.accountResultMap"/>
        <association property="toAccount" column="to_account_id" foreignColumn="id" columnPrefix="to_account_"
                     resultMap="com.perfect.team.business.mapper.AccountMapper.accountResultMap"/>
        <association property="user" column="user_id" foreignColumn="id" columnPrefix="user_"
                     resultMap="com.perfect.team.business.mapper.UserMapper.userResultMap"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transfer (date, note, value, from_account_id, to_account_id, user_id)
        VALUES (#{date}, #{note}, #{value}, #{fromAccount.id}, #{toAccount.id}, #{user.id})
    </insert>

    <select id="select" resultMap="transferResultMap">
        SELECT
            t.id,
            t.date,
            t.note,
            t.value,
            t.from_account_id,
            t.to_account_id,
            t.user_id
        FROM transfer t
        WHERE id = #{id}
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE transfer
        <set>
            <if test="value != null">value = #{value},</if>
            <if test="note != null">note = #{note},</if>
            <if test="date != null">date = #{date},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM transfer
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="transferResultMap">
        SELECT
            t.id,
            t.date,
            t.note,
            t.value,
            t.from_account_id,
            t.to_account_id,
            t.user_id
        FROM transfer t
    </select>

    <select id="selectWithUser" resultMap="transferResultMap">
        SELECT
            t.id,
            t.date,
            t.note,
            t.value,
            t.from_account_id,
            t.to_account_id,
            t.user_id
        FROM transfer t
            LEFT JOIN account a_from ON t.from_account_id = a_from.id
            LEFT JOIN account a_to ON t.to_account_id = a_to.id
            LEFT JOIN user u ON t.user_id = u.id
        WHERE t.id = #{id}
    </select>

    <select id="selectAllByUserId" resultMap="transferResultMap">
        SELECT
            t.id,
            t.date,
            t.note,
            t.value,
            t.from_account_id,
            t.to_account_id,
            t.user_id
        FROM transfer t
        WHERE user_id = #{userId}
    </select>
</mapper>
