<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.TransactionMapper">

    <resultMap id="transactionResultMap" type="Transaction">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="note" column="note"/>
        <result property="date" column="date"/>
        <association property="account" column="account_id" foreignColumn="id" columnPrefix="account_"
                     resultMap="com.perfect.team.business.mapper.AccountMapper.accountResultMap"/>
        <association property="category" column="category_id" foreignColumn="id" columnPrefix="category_"
                     resultMap="com.perfect.team.business.mapper.CategoryMapper.categoryResultMap"/>
        <association property="user" column="user_id" foreignColumn="id" columnPrefix="user_"
                     resultMap="com.perfect.team.business.mapper.UserMapper.userResultMap"/>
    </resultMap>

    <sql id="transactionColumns">
        ${transaction}.id as "${prefix}id",
        ${transaction}.date as "${prefix}date",
        ${transaction}.note as "${prefix}note",
        ${transaction}.value as "${prefix}value",
        ${transaction}.account_id as "${prefix}account_id",
        ${transaction}.category_id as "${prefix}category_id",
        ${transaction}.user_id as "${prefix}user_id",
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transaction (date, note, value, account_id, category_id, user_id)
        VALUES (#{date}, #{note}, #{value}, #{account.id}, #{category.id}, #{user.id})
    </insert>

    <select id="select" resultMap="transactionResultMap">
        SELECT
        <include refid="transactionColumns">
            <property name="transaction" value="t"/>
        </include>
        FROM transaction t
        WHERE t.id = #{id}
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE transaction
        <set>
            <if test="value != null">value = #{value},</if>
            <if test="note != null">note = #{note},</if>
            <if test="date != null">date = #{date},</if>
            <if test="category.id != null">category_id = #{category.id}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM transaction
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="transactionResultMap">
        SELECT
        <include refid="transactionColumns">
            <property name="transaction" value="t"/>
        </include>
        FROM transaction t
    </select>

    <select id="selectAllByUserId" resultMap="transactionResultMap">
        SELECT
        <include refid="transactionColumns">
            <property name="transaction" value="t"/>
        </include>
        FROM transaction t
        WHERE t.user_id = #{userId}
    </select>
</mapper>
