<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <collection property="accounts" column="id" foreignColumn="user_id" columnPrefix="account_"
                    resultMap="com.perfect.team.business.mapper.AccountMapper.accountResultMap"/>
        <collection property="categories" column="id" foreignColumn="user_id" columnPrefix="category_"
                    resultMap="com.perfect.team.business.mapper.CategoryMapper.categoryResultMap"/>
        <collection property="transactions" column="id" foreignColumn="user_id" columnPrefix="transaction_"
                    resultMap="com.perfect.team.business.mapper.TransactionMapper.transactionResultMap"/>
        <collection property="transfers" column="id" foreignColumn="user_id" columnPrefix="transfer_"
                    resultMap="com.perfect.team.business.mapper.TransferMapper.transferResultMap"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (email, name, password) VALUES (#{email}, #{name}, #{password})
    </insert>

    <select id="select" resultMap="userResultMap">
        SELECT
            u.id,
            u.email,
            u.name,
            u.password
        FROM user u
        WHERE id = #{id}
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE user
        <set>
            <if test="email != null">email = #{email},</if>
            <if test="name != null">name = #{name},</if>
            <if test="password != null">password = #{password}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="userResultMap">
        SELECT
            u.id,
            u.email,
            u.name,
            u.password
        FROM user u
    </select>

    <select id="selectByEmail" resultMap="userResultMap">
        SELECT
            u.id,
            u.email,
            u.name,
            u.password
        FROM user u
        WHERE email = #{email}
    </select>
</mapper>
