<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (email, name, password) VALUES (#{email}, #{name}, #{password})
    </insert>

    <select id="select" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE user
        <set>
            <if test="bean.email != null">email = #{bean.email},</if>
            <if test="bean.name != null">name = #{bean.name},</if>
            <if test="bean.password != null">password = #{bean.password}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="userResultMap">
        SELECT *
        FROM user
    </select>

    <select id="selectByEmail" resultMap="userResultMap">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>
</mapper>
