<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.UserMapper">

  <resultMap id="userResultMap" type="User">
    <id column="id" property="id"/>
    <result column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="password" property="password"/>
    <collection column="id" columnPrefix="account_" foreignColumn="user_id" property="accounts"
      resultMap="com.perfect.team.business.mapper.AccountMapper.accountResultMap"/>
    <collection column="id" columnPrefix="category_" foreignColumn="user_id" property="categories"
      resultMap="com.perfect.team.business.mapper.CategoryMapper.categoryResultMap"/>
    <collection column="id" columnPrefix="transaction_" foreignColumn="user_id"
      property="transactions"
      resultMap="com.perfect.team.business.mapper.TransactionMapper.transactionResultMap"/>
    <collection column="id" columnPrefix="transfer_" foreignColumn="user_id" property="transfers"
      resultMap="com.perfect.team.business.mapper.TransferMapper.transferResultMap"/>
  </resultMap>

  <sql id="userColumns">
    ${user}.id as "${prefix}id",
    ${user}.email as "${prefix}email",
    ${user}.name as "${prefix}name",
    ${user}.password as "${prefix}password"
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO user (email, name, password) VALUES (#{email}, #{name}, #{password})
  </insert>

  <select id="selectById" resultMap="userResultMap">
    SELECT
    <include refid="userColumns">
      <property name="user" value="u"/>
      <property name="prefix" value=""/>
    </include>
    FROM user u
    WHERE u.id = #{id}
  </select>

  <update id="update" keyProperty="id" useGeneratedKeys="true">
    UPDATE user u
    <set>
      <if test="email != null">u.email = #{email},</if>
      <if test="name != null">u.name = #{name},</if>
      <if test="password != null">u.password = #{password}</if>
    </set>
    WHERE u.id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM user
    WHERE id = #{id}
  </delete>

  <select id="selectAll" resultMap="userResultMap">
    SELECT
    <include refid="userColumns">
      <property name="user" value="u"/>
      <property name="prefix" value=""/>
    </include>
    FROM user u
  </select>

  <select id="selectByEmail" resultMap="userResultMap">
    SELECT
    <include refid="userColumns">
      <property name="user" value="u"/>
      <property name="prefix" value=""/>
    </include>
    FROM user u
    WHERE u.email = #{email}
  </select>
</mapper>
