<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.auth.imp.repository.CredentialMapper">

  <resultMap id="credentialResultMap" type="Credential">
    <id column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="confirmed" property="confirmed"/>
    <result column="user_id" property="userId"/>
  </resultMap>

  <sql id="credentialColumns">
    ${credential}.id as "${prefix}id",
    ${credential}.username as "${prefix}username",
    ${credential}.password as "${prefix}password",
    ${credential}.confirmed as "${prefix}confirmed",
    ${credential}.user_id as "${prefix}user_id"
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO credential (username, password, confirmed, user_id)
    VALUES (#{username}, #{password}, #{confirmed}, #{userId})
  </insert>

  <select id="selectById" resultMap="credentialResultMap">
    SELECT
    <include refid="credentialColumns">
      <property name="credential" value="c"/>
      <property name="prefix" value=""/>
    </include>
    FROM credential c
    WHERE c.id = #{id}
  </select>

  <update id="update" keyProperty="id" useGeneratedKeys="true">
    UPDATE credential c
    <set>
      <if test="username != null">c.username = #{username},</if>
      <if test="password != null">c.password = #{password},</if>
      <if test="confirmed != null">c.confirmed = #{confirmed}</if>
    </set>
    WHERE c.id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM credential
    WHERE id = #{id}
  </delete>

  <select id="select" resultMap="credentialResultMap">
    SELECT
    <include refid="credentialColumns">
      <property name="credential" value="c"/>
      <property name="prefix" value=""/>
    </include>
    FROM credential c
    <where>
      <if test="id != null">
        c.id = #{id}
      </if>
      <if test="username != null">
        AND c.username = #{username}
      </if>
      <if test="confirmed != null">
        AND c.confirmed = #{confirmed}
      </if>
      <if test="userId != null">
        AND c.user_id = #{userId}
      </if>
    </where>
  </select>
</mapper>
