<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.user.imp.repository.UserMapper">

  <resultMap id="userResultMap" type="User">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
  </resultMap>

  <sql id="userColumns">
    ${user}.id as "${prefix}id",
    ${user}.name as "${prefix}name"
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO user (name) VALUES (#{name})
  </insert>

  <select id="selectById" resultMap="userResultMap">
    SELECT
    <include refid="userColumns">
      <property name="user" value="u"/>
      <property name="prefix" value=""/>
    </include>
    FROM user u
    WHERE u.id = #{id}
  </select>

  <update id="update" keyProperty="id" useGeneratedKeys="true">
    UPDATE user u
    <set>
      <if test="name != null">u.name = #{name}</if>
    </set>
    WHERE u.id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM user
    WHERE id = #{id}
  </delete>

  <select id="select" resultMap="userResultMap">
    SELECT
    <include refid="userColumns">
      <property name="user" value="u"/>
      <property name="prefix" value=""/>
    </include>
    FROM user u
    <where>
      <if test="id != null">
        u.id = #{id}
      </if>
      <if test="name != null">
        AND u.name = #{name}
      </if>
    </where>
  </select>
</mapper>
