<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.AccountMapper">

  <resultMap id="accountResultMap" type="Account">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="icon" property="icon"/>
    <result column="balance" property="balance"/>
    <result column="initial_date" property="initialDate"/>
    <result column="currency" property="currency"/>
    <association column="user_id" columnPrefix="user_" foreignColumn="id" property="userId"
      resultMap="com.perfect.team.user.imp.repository.UserMapper.userResultMap"/>
  </resultMap>

  <sql id="accountColumns">
    ${account}.id as "${prefix}id",
    ${account}.name as "${prefix}name",
    ${account}.icon as "${prefix}icon",
    ${account}.initial_date as "${prefix}initial_date",
    ${account}.balance as "${prefix}balance",
    ${account}.currency as "${prefix}currency",
    ${account}.user_id as "${prefix}user_id"
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO account (icon, balance, initial_date, name, currency, user_id)
    VALUES (#{icon}, #{balance}, #{initialDate}, #{name}, #{currency}, #{userId.id})
  </insert>

  <select id="selectById" resultMap="accountResultMap">
    SELECT
    <include refid="accountColumns">
      <property name="account" value="a"/>
      <property name="prefix" value=""/>
    </include>
    FROM account a
    WHERE a.id = #{id}
  </select>

  <update id="update" keyProperty="id" useGeneratedKeys="true">
    UPDATE account a
    <set>
      <if test="name != null">a.name = #{name},</if>
      <if test="icon != null">a.icon = #{icon},</if>
      <if test="initialDate != null">a.initial_date = #{initialDate},</if>
      <if test="balance != null">a.balance = #{balance},</if>
      <if test="currency != null">a.currency = #{currency}</if>
    </set>
    WHERE a.id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM account
    WHERE id = #{id}
  </delete>

  <select id="select" resultMap="accountResultMap">
    SELECT
    <include refid="accountColumns">
      <property name="account" value="a"/>
      <property name="prefix" value=""/>
    </include>
    FROM account a
    <where>
      <if test="id != null">
        a.id = #{id}
      </if>
      <if test="name != null">
        AND a.name = #{name}
      </if>
      <if test="currency != null">
        AND a.currency = #{currency}
      </if>
      <if test="userId != null">
        AND a.user_id = #{userId}
      </if>
    </where>
  </select>
</mapper>
