<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.CategoryMapper">

  <resultMap id="categoryResultMap" type="Category">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="icon" property="icon"/>
    <result column="type" property="type"/>
    <association column="user_id" columnPrefix="user_" foreignColumn="id" property="userId"
      resultMap="com.perfect.team.user.imp.repository.UserMapper.userResultMap"/>
  </resultMap>

  <sql id="categoryColumns">
    ${category}.id as "${prefix}id",
    ${category}.name as "${prefix}name",
    ${category}.icon as "${prefix}icon",
    ${category}.type as "${prefix}type",
    ${category}.user_id as "${prefix}user_id"
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO category (icon, name, type, user_id)
    VALUES (#{icon}, #{name}, #{type}, #{userId.id})
  </insert>

  <select id="selectById" resultMap="categoryResultMap">
    SELECT
    <include refid="categoryColumns">
      <property name="category" value="c"/>
      <property name="prefix" value=""/>
    </include>
    FROM category c
    WHERE c.id = #{id}
  </select>

  <update id="update" keyProperty="id" useGeneratedKeys="true">
    UPDATE category c
    <set>
      <if test="name != null">c.name = #{name},</if>
      <if test="icon != null">c.icon = #{icon},</if>
      <if test="type != null">c.type = #{type}</if>
    </set>
    WHERE c.id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM category
    WHERE id = #{id}
  </delete>

  <select id="select" resultMap="categoryResultMap">
    SELECT
    <include refid="categoryColumns">
      <property name="category" value="c"/>
      <property name="prefix" value=""/>
    </include>
    FROM category c
    <where>
      <if test="id != null">
        c.id = #{id}
      </if>
      <if test="name != null">
        AND c.name = #{name}
      </if>
      <if test="type != null">
        AND c.type = #{type}
      </if>
      <if test="userId != null">
        AND c.user_id = #{userId}
      </if>
    </where>
  </select>
</mapper>
