<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.team.business.mapper.ConfirmationMapper">

  <resultMap id="confirmationResultMap" type="Confirmation">
    <id column="id" property="id"/>
    <result column="code" property="code"/>
    <result column="confirmed" property="confirmed"/>
    <association column="user_id" columnPrefix="user_" foreignColumn="id" property="userId"
      resultMap="com.perfect.team.user.imp.repository.UserMapper.userResultMap"/>
  </resultMap>

  <sql id="confirmationColumns">
    ${confirmation}.id as "${prefix}id",
    ${confirmation}.code as "${prefix}code",
    ${confirmation}.confirmed as "${prefix}confirmed",
    ${confirmation}.user_id as "${prefix}user_id"
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO confirmation (code, user_id)
    VALUES (#{code}, #{userId.id})
  </insert>

  <select id="selectById" resultMap="confirmationResultMap">
    SELECT
    <include refid="confirmationColumns">
      <property name="confirmation" value="c"/>
      <property name="prefix" value=""/>
    </include>
    FROM confirmation c
    WHERE c.id = #{id}
  </select>

  <update id="update" keyProperty="id" useGeneratedKeys="true">
    UPDATE confirmation c
    <set>
      <if test="code != null">c.code = #{code},</if>
      <if test="confirmed != null">c.confirmed = #{confirmed}</if>
    </set>
    WHERE c.id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM confirmation
    WHERE id = #{id}
  </delete>

  <select id="selectByCodeAndUserId" resultMap="confirmationResultMap">
    SELECT
    <include refid="confirmationColumns">
      <property name="confirmation" value="c"/>
      <property name="prefix" value=""/>
    </include>
    FROM confirmation c
    WHERE c.code = #{code} AND c.user_id = #{userId}
  </select>
</mapper>
